html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow: auto;
  height: 100%;
  overscroll-behavior: none;
}

body.admin_body {
  overflow: hidden;
}

@media (max-width: 768px) {
  body.admin_body {
    overflow: scroll;
  }
}

* {
  font-family: 'Nunito Sans', sans-serif;
  /* font-family: 'Oswald', sans-serif; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

:root {
  --text-main-color: #2b3940;
}

.justify-content-space-between {
  justify-content: space-between;
}

p {
  font-size: 16px;
}

.brand-logo img,
.footer-logo {
  max-height: 28px;
  max-width: 100px;
}

.connect_btn {
  min-width: 60px;
}

/* Common */
.page___heading {
  display: none;
}

button.btn.action_btn {
  min-width: 30px;
}

/* pagination */
.pagination {
  justify-content: center;
}

.pagination a.page-link.active {
  background: #aaa;
  color: #fff;
}

/* Admin Table */
.bg-white.shadow-8.datatable_div.rounded {
  padding: 0 !important;
}

.table.main_data_table th,
.table.main_data_table td {
  border: unset;
  vertical-align: middle;
}

.table-striped tbody {
  background-color: #f1f1f145;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #eee;
}

.main_data_table {
  border: none;
  border-radius: 0;
  overflow: hidden;
  border-collapse: collapse;
}

.main_data_table thead {
  background-color: #fcb6b6;
}

.main_data_table thead th,
.main_data_table thead a.text-gray {
  color: #333 !important;
  font-size: 12px;
  font-weight: 700 !important;
  line-height: 1.25;
}

.dashboard-main-container>.container-fluid {
  margin: 0;
  width: calc(100%);
  border-radius: 10px;
  /* background: #fff; */
  padding-bottom: 10px;
}

.table-responsive {
  padding-left: 0;
  padding-right: 0;
}

.main_data_table br {
  display: none;
}

.main_data_table_inn thead tr {
  background: #fff;
}

.main_data_table_inn thead th,
.main_data_table_inn thead a.text-gray {
  color: #333 !important;
}

.main_data_table tbody tr {
  background: #fff;
  /* border-top: 4px solid #f4f5f8; */
  border-bottom: 4px solid #f4f5f8;
  margin: 0;
  border-spacing: 0px;
}

.main_data_table {
  border: none;
  border-radius: 0;
  overflow: hidden;
  border-collapse: collapse;
  border-spacing: 0px;
  color: #333;
}

button.btn.action_btn {
  min-width: 30px;
  line-height: normal;
  height: auto;
}

.table.main_data_table th,
.table.main_data_table td {
  padding: 7px 7px !important;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fff;
}

table.table.table-striped.main_data_table_inn tr {
  background: #f1f1f1;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
}

.bg-white.shadow-8.datatable_div {
  background: transparent !important;
  box-shadow: none;
  padding: 0 !important;
}

.main_data_table .response_main_div .container table {
  margin: 0;
}

.main_data_table .response_main_div .container {
  padding: 0;
  margin-top: 15px;
}

.dashboard-main-container .form-control {
  height: 2.25rem;
  padding: 5px 10px !important;
  font-size: 14px;
}

.dashboard-main-container .form_group .input_label {
  position: unset;
  margin: 0;
  font-size: 12px;
  font-weight: 600;
}

.btn-group.button_group {
  /* flex-wrap: wrap; */
  /* max-width: 160px; */
  /* gap: 5px 0; */
}

.back_btn_profile {
  position: relative;
  top: 10px !important;
  left: 30px !important
}

.applicant_row,
.job_row {
  position: relative;
}

span.featured_tag {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1px;
  font-size: 10px;
  font-weight: 400;
}

span.web_tag {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1px;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}

/* SIDEBAR */

ul.list-unstyled.dashboard-layout-sidebar {
  max-height: calc(100vh - 40px);
  overflow-y: auto;
}

/* header */
.main-menu>li>.nav-link {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}

header.site-header.admin_header {
  /* max-width: calc(100% - 155px);
  right: 0;
  left: auto;
  margin: 1px 20px 5px; */
  max-width: calc(100% - 115px);
  right: 0;
  left: auto;
  margin: 0;
  border-radius: 0;
  background: #992b32;
  top: 0;
  padding: 3px 5px 2px;
}

header.site-header.admin_header h3 {
  color: #fff;
}

/* Drop-down css */
.gr-menu-dropdown {
  position: absolute;
  min-width: 227px;
  max-width: 227px;
  box-shadow: 0 52px 54px rgb(65 62 101 / 30%);
  border-radius: 8px;
  border: 1px solid var(--border-color-3);
  padding: 15px 0px;
  top: 100%;
  z-index: -99;
  opacity: 0;
  transition: opacity .4s, top .4s;
  pointer-events: none;
  left: 0;
  right: auto;
  border-radius: 0 0 10px 10px;
  border: 1px solid var(--border-color-3);
  background-color: #fff;
  display: block;
  border-top: 3px solid #00b074;
}

.show-gr-dropdown .gr-menu-dropdown.dropdown-right {
  right: -12px;
  left: unset;
  top: 100%;
}

/* Border Radius css */

.rounded-70 {
  border-radius: 70px;
}

/* JOB Search form */
.filter-search-form-2 .filter-inputs .nice-select {
  outline: none;
}

.job_search_main_form {
  max-width: 1024px;
  margin: 0 auto;
}

.hero_container {
  max-width: 1024px;
}

.bg-home-banner {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(https://images.pexels.com/photos/8297452/pexels-photo-8297452.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-position: center 42%;
  background-repeat: no-repeat;
  background-size: cover;
}

.filter-search-form-2 .filter-inputs .form-group {
  width: 49%;
}

/* JOB FILTER BOX */
.job_filter_card_home {
  min-width: 50%;
  max-width: 100%;
}

.job_filter_card_home .card-body {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1;
  height: 95px;
}

.job_filter_block .btn.job_filter_btn {
  min-width: auto;
  font-weight: 400;
  height: 22px;
  color: var(--text-main-color);
  border-color: var(--text-main-color);
  padding: 3px 5px;
  font-size: 12px;
}

.filter-search-form-2 .css-13cymwt-control {
  min-height: 40px;
  border: none;
  background: transparent;
}

.job_filter_block {
  display: flex;
  max-width: 1024px;
  justify-content: space-between;
  flex-wrap: nowrap;
  /* margin: 0 auto !important;
  gap: 2%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -14%;
  max-width: 1024px;
  z-index: -1; */
}

.job_filter_block .card.job_filter_card {
  max-width: 49%;
  box-shadow: 0 40px 60px rgb(0 0 0 / 25%);
}

@media (max-width: 992px) {
  .job_filter_block {
    position: relative;
    gap: 15px;
    justify-content: center;
  }

  .edit_profile_icon span {
    position: absolute;
    bottom: 0;
  }

  .edit_profile_icon {
    bottom: 0;
    right: 0;
  }
}

@media (max-width: 767px) {
  .job_filter_block {
    flex-direction: column;
    max-width: 100%;
  }

  .job_filter_block .card.job_filter_card,
  .filter-search-form-2 .filter-inputs .form-group {
    max-width: 100%;
  }

  .filter-search-form-2 .filter-inputs .form-group {
    width: 100%;
  }

  .job_search_main_form {
    padding: 10px !important;
    border-radius: 10px;
  }
}

/* Job Box */
.job_box {
  max-width: 1024px;
}

.row.job_header {
  justify-content: space-between;
}

.company_box {
  max-width: 85%;
}

.company_box .company_logo {
  max-height: 50px;
  margin-right: 10px;
  max-width: 150px;
}

span.job_swap_label {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 12px;
  font-weight: 600;
  background: #00b074;
  padding: 3px 5px 3px 10px;
  border-radius: 0 0.5rem 0 0.5rem;
  color: #fff;
}

@media (min-width: 768px) {}

/* CATEGORY BOX */
.category_box a {
  position: relative;
}

.category_box .category_text_box p {
  position: absolute;
  top: 50px;
  right: 20px;
  text-transform: lowercase;
  margin: 0;
  max-width: 80px;
  line-height: 1;
  text-align: right;
  font-size: 12px;
}

.category_box .category_text_box p span {
  font-size: 40px;
}

/* ALL FORM INPUT */
.form-group,
.form_control {
  position: relative;
  padding: 0 15px !important;
}

.form-group label,
.form_control .input_label {
  font-weight: 500;
  font-size: 12px;
  margin: 0;
  position: absolute;
  top: -7px;
  z-index: 1;
  left: 26px;
  background: #fff;
  padding: 0 5px;
}

.form_control .input_label {
  background: transparent;
  top: -17px;
  left: 15px;
  text-transform: capitalize !important;
}

input:-internal-autofill-selected {
  background-color: #fff !important;
}

input[type="file" i].form-control {
  padding: 6px;
}

/* PROFILE PAGE */
.personal_info_box {
  gap: 0;
}

.user_status_btn button.dropdown-toggle {
  height: 20px;
  min-width: unset;
  line-height: 20px;
  width: 100%;
  color: #fff;
  font-weight: 400;
}

.user_status_btn {
  padding: 0;

}

label.image_upload_btn {
  position: absolute;
  bottom: -10px;
  left: 40px;
  background: #ccc;
  width: 24px;
  height: 24px;
  border-radius: 20px;
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  cursor: pointer;
}

label.image_upload_btn_2 {
  position: absolute;
  bottom: -8px;
  left: 16px;
  background: #ccc;
  width: 18px;
  height: 18px;
  border-radius: 20px;
  text-align: center;
  font-size: 10px;
  line-height: 18px;
  cursor: pointer;
}

/* CKEDITOR */
.cke_chrome {
  border: none !important;
}

/* LOGIN MODAL */
.login-modal-main .dark-mode-texts {
  background-image: url(http://localhost:3000/image/favicon.png);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
}

/* Add opactiy in dropdown */
@media (max-width: 992px) {
  .custom-opacity {
    opacity: 1 !important;
  }
}

.response_filters .form-control {
  height: 2rem;
  padding: 5px 10px;
  font-size: 12px;
}

.response_filters .input_label {
  font-size: 12px;
}

/* DASHBOARD */
.dashboard_card {
  overflow: hidden;
  /* min-height: 100%; */
  /* box-shadow: 6px 2px 8px #ccc; */
  padding-bottom: 15px;
}

.dashboard_card .dashboard_select {
  padding: 0 5px;
}

.dashboard_card .datatable_div {
  box-shadow: none;
  border-radius: 0 !important;
}

/* EMPLOYEE TABLE */
.d-flex.profile_box {
  gap: 7px;
  align-items: center !important;
}

.d-flex.executive_box {
  gap: 7px;
  align-items: start !important;
}

.password-icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;
}

.table-responsive.main_table_div {
  position: relative;
  min-height: 150px;
}

.dashboard_card .table-responsive.main_table_div {
  position: relative;
  min-height: unset;
}

.dashboard_card .mb-18,
.dashboard_card .mb-8 {
  margin-bottom: 0 !important;
}

.custom_loader {
  position: absolute;
  height: 100%;
  width: 100%;
  ALIGN-ITEMS: center !important;
  background: #fff;
  z-index: 1000;
  top: 0;
  left: 0;
}

.custom_loader-01 {
  position: absolute;
  height: 100%;
  width: 100%;
  ALIGN-ITEMS: center !important;
  background: #fff;
  z-index: 1000;
  top: 0;
  left: 0;
}

.coustam_datepicker {
  position: relative;
  overflow: hidden;
}

input.coustam_datepicker[type="date"]::-webkit-calendar-picker-indicator {

  /* //-webkit-appearance: none; */
  width: 100%;
  opacity: 0;
  height: 100px;
  padding: 0px;
  margin: 0px;
  margin-top: 10px;
  position: absolute;
}

.container.document_container.bg-white.p-7 {
  height: calc(100vh - 98px);
  overflow-x: hidden;
}

.doc_preview_box {
  height: calc(100vh - 200px);
  width: 100%;
  overflow-y: hidden;
}

.list-group {
  max-height: calc(100vh - 140px);
  overflow-y: auto;
}

.dash_card.card h3.heading {
  color: #4751fa;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0px;
  font-size: 30px;
}

span.dash_statistic {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 90px;
  font-weight: 900;
  line-height: 1;
  color: #ff8c8e;
}

.row.doc_upload_row select.form-control.form-select {
  height: 40px;
  padding: 5px 10px;
}

select.form-control.select_document_type {
  text-transform: capitalize;
}

.list-group .list-group-item .verified_doc {
  max-width: 50px;
  float: right;
  padding: 2px;
  background-color: #fff;
}

.verified_doc_img {
  height: 35px;
  width: auto;
}

.doc_action_div {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 5px 10px 0;
  z-index: 10;
}

.row.doc_upload_row {
  gap: 15px;
}

.arrow-wrapper.custome_arrow_wrapper .arrow-steps .step {
  font-size: 12px;
  padding: 3px 5px 3px 16px;
  min-width: auto;
  margin-right: 0px;
}

.arrow-wrapper.custome_arrow_wrapper .arrow-steps .step:after,
.arrow-wrapper.custome_arrow_wrapper .arrow-steps .step:before {
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid #d9e3f7;
}

.arrow-wrapper.custome_arrow_wrapper .arrow-steps .step:after,
.arrow-wrapper.custome_arrow_wrapper .arrow-steps .step:before {
  right: -12px;
}

.arrow-wrapper.custome_arrow_wrapper .arrow-steps .step:before {
  border-left: 12px solid #fff;
}

.arrow-wrapper.custome_arrow_wrapper .arrow-steps .step.current:after {
  border-left: 12px solid #fa474a;
}

.arrow-wrapper.custome_arrow_wrapper .arrow-steps .step.visa_current:after {
  border-left: 12px solid #4743db;
}

.absolute_top_right {
  position: absolute;
  top: 10px;
  right: 10px;
}

@media (max-width: 767px) {
  header.site-header {
    max-width: 100%;
    left: 0;
    margin: 0;
    /* padding: 15px 0 !important; */
  }

  nav.navbar.site-navbar.offcanvas-active.navbar-expand-lg {
    justify-content: space-between;
    align-items: center;
  }

  button.main_search_button_home {
    width: 100%;
  }

  .media.align-items-center.company_box {
    flex-wrap: wrap;
    gap: 15px;
  }

  .main_job_box_ button.btn.btn-secondary {
    width: 100%;
  }

  .job_search_box_page.translateY-25 {
    transform: none;
  }

  .search-filter.job_search_filter {
    display: block !important;
  }

  .search-filter.job_search_filter select {
    width: 100%;
  }

  .px-11.pt-11.pb-7.login_Modal_box {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .container,
  .container-xs,
  .container-sm {
    max-width: 100%;
  }

  .col.p-1.form_group.mb-5.mt-4 {
    min-width: 50%;
    margin-bottom: 0 !important;
  }

  header.site-header.admin_header {
    max-width: 100%;
    left: 0;
    right: 0;
    margin: 0;
  }

  .dashboard-main-container>.container {
    margin: 0;
    width: 100%;
  }
}

/* Breadcrups CSS */

.arrow-wrapper {
  display: table-cell;
  height: auto;
  vertical-align: middle;
}


.arrow-steps .step {
  font-size: 14px;
  text-align: center;
  color: #666;
  cursor: default;
  margin: 0 3px;
  padding: 8px 8px 8px 25px;
  min-width: 129px;
  float: left;
  position: relative;
  background-color: #d9e3f7;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background-color 0.2s ease;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
  content: " ";
  position: absolute;
  top: 0;
  right: -12px;
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 17px solid #d9e3f7;
  z-index: 2;
  transition: border-color 0.2s ease;
}

.arrow-steps .step:before {
  right: auto;
  left: 0;
  border-left: 17px solid #fff;
  z-index: 0;
}

/* .arrow-steps .step:first-child:before {
  border: none;
} */

/* .arrow-steps .step:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
} */

/* .arrow-steps .step span {
  position: relative;
} */

/* .arrow-steps .step span:before {
  opacity: 0;
  content: "✔";
  position: absolute;
  top: -2px;
  left: -20px;
} */

/* .arrow-steps .step.done span:before {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease 0.5s;
  -moz-transition: opacity 0.3s ease 0.5s;
  -ms-transition: opacity 0.3s ease 0.5s;
  transition: opacity 0.3s ease 0.5s;
} */
.arrow-steps .step.approved {
  color: #fff;
  background-color: #0b795d;
}

.arrow-steps .step.approved:after {
  border-left: 13px solid #0b795d !important;
}

.arrow-steps .step.pending {
  color: #fff;
  background-color: #f57a08;
}

.arrow-steps .step.pending:after {
  border-left: 13px solid #f57a08 !important;
}

.arrow-steps .step.reject {
  color: #fff;
  background-color: #fa474a;
}

.arrow-steps .step.reject:after {
  border-left: 13px solid #fa474a !important;
}

.arrow-steps .step.visa_current {
  color: #fff;
  background-color: #4743db;
}

.arrow-steps .step.visa_current:after {
  border-left: 17px solid #4743db;
}

.arrow-steps .step.sub-stage {
  color: #fff;
  background-color: #ed591e;
}

.arrow-steps .step.sub-stage:after {
  border-left: 17px solid #ed591e;
}

@media (max-width: 568px) {
  .doc_upload_row .btn {
    min-width: 118px;
  }

}

.dropdown-menu.show {
  min-width: 100px;
}

.dropdown-menu .dropdown-item {
  padding: 0.25rem 0.5rem;
}

.accordian_btn_design button{
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;
  padding: 10px;
}
.accordian_btn_design button:hover,
  .accordian_btn_design button:focus{
  border: none;
  outline: none;
}

