html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow: auto;
  height: 100%;
  overscroll-behavior: none;
}
*{
  font-family: 'Nunito Sans', sans-serif;
/* font-family: 'Oswald', sans-serif; */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

:root {
  --text-main-color: #2b3940;
}

.justify-content-space-between {
  justify-content: space-between;
}

p {
  font-size: 16px;
}

.brand-logo img,
.footer-logo {
  max-height: 28px;
}

.connect_btn {
  min-width: 60px;
}

/* Common */
.page___heading {
  display: none;
}
button.btn.action_btn {
  min-width: 30px;
}
/* pagination */
.pagination{
  justify-content: center;
}
.pagination  a.page-link.active {
  background: #aaa;
  color: #fff;
}
/* Admin Table */
.bg-white.shadow-8.datatable_div.rounded {
  padding: 0!important;
}
.table.main_data_table th, .table.main_data_table td{
  border: unset;
  vertical-align: middle;
}
.table-striped tbody {
  background-color: #f1f1f145;
}
.table-striped tbody tr:nth-of-type(odd){
  background-color: #eee;
}

.main_data_table{
  border: none;
  border-radius: 0;
  overflow: hidden;
  border-collapse: collapse;
}
.main_data_table thead {
  background-color: #aaa;
}
.main_data_table thead th, .main_data_table thead a.text-gray{
  color: #fff!important;
  font-size: 12px;
  font-weight: 600!important;
}
.main_data_table tr{
  /* border: none!important; */
}
.main_data_table br{
  display: none;
}
.main_data_table_inn thead tr {
  background: #fff;
}
.main_data_table_inn thead th, .main_data_table_inn thead a.text-gray{
  color: #333!important;
}
.main_data_table tbody tr {
  background: #fff;
  /* border-top: 4px solid #f4f5f8; */
  border-bottom: 4px solid #f4f5f8;
  margin: 0;
  border-spacing: 0px;
}
.main_data_table {
  border: none;
  border-radius: 0;
  overflow: hidden;
  border-collapse: collapse;
  border-spacing: 0px;
  color: #333;
}
button.btn.action_btn {
  min-width: 30px;
  line-height: normal;
  height: auto;
}
.table.main_data_table th, .table.main_data_table td{
  padding: 8px 8px!important;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fff;
}
table.table.table-striped.main_data_table_inn tr {
  background: #f1f1f1;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
}
.bg-white.shadow-8.datatable_div {
  background: transparent!important;
  box-shadow: none;
  padding: 0!important;
}
.main_data_table .response_main_div .container table{
  margin: 0;
}
.main_data_table .response_main_div .container {
  padding: 0;
  margin-top: 15px;
}

.dashboard-main-container .form-control{
  height: 2.25rem;
  padding: 5px 10px!important;
  font-size: 14px;
}

.dashboard-main-container .form_group .input_label{
  position: unset;
  margin: 0;
  font-size: 12px;
  font-weight: 600;
}
/* SIDEBAR */

ul.list-unstyled.dashboard-layout-sidebar {
  max-height: 80vh;
  overflow-y: auto;
}

/* header */
.main-menu>li>.nav-link {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}

header.site-header.admin_header {
  max-width: calc(100% - 320px);
  right: 0;
  left: auto;
  margin: 5px 15px;
}
@media (max-width: 767px) {
  header.site-header {
    max-width: 100%;
    left: 0;
    margin: 0;
    padding: 15px 0!important;
  }
  nav.navbar.site-navbar.offcanvas-active.navbar-expand-lg{
    justify-content: center;
  }
}
/* Drop-down css */
.gr-menu-dropdown {
  position: absolute;
  min-width: 227px;
  max-width: 227px;
  box-shadow: 0 52px 54px rgb(65 62 101 / 30%);
  border-radius: 8px;
  border: 1px solid var(--border-color-3);
  padding: 15px 0px;
  top: 100%;
  z-index: -99;
  opacity: 0;
  transition: opacity .4s, top .4s;
  pointer-events: none;
  left: 0;
  right: auto;
  border-radius: 0 0 10px 10px;
  border: 1px solid var(--border-color-3);
  background-color: #fff;
  display: block;
  border-top: 3px solid #00b074;
}
.show-gr-dropdown .gr-menu-dropdown.dropdown-right {
right: 0;
left: 0;
}
/* Border Radius css */

.rounded-70 {
  border-radius: 70px;
}

/* JOB Search form */
.filter-search-form-2 .filter-inputs .nice-select {
  outline: none;
}

.job_search_main_form {
  max-width: 1024px;
  margin: 0 auto;
}

.hero_container {
  max-width: 1024px;
}

.bg-home-banner {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(https://images.pexels.com/photos/8297452/pexels-photo-8297452.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-position: center 42%;
  background-repeat: no-repeat;
  background-size: cover;
}

.filter-search-form-2 .filter-inputs .form-group {
  width: 49%;
}

/* JOB FILTER BOX */

.job_filter_block .btn.job_filter_btn {
  min-width: auto;
    font-weight: 400;
    height: 22px;
    color: var(--text-main-color);
    border-color: var(--text-main-color);
    padding: 3px 5px;
    font-size: 12px;
}
.filter-search-form-2  .css-13cymwt-control{
  min-height: 40px;
  border: none;
  background: transparent;
}
.job_filter_block {
  display: flex;
  max-width: 1024px;
  justify-content: space-between;
  flex-wrap: nowrap;
  /* margin: 0 auto !important;
  gap: 2%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -14%;
  max-width: 1024px;
  z-index: -1; */
}

.job_filter_block .card.job_filter_card {
  max-width: 49%;
  box-shadow: 0 40px 60px rgb(0 0 0 / 25%);
}

@media (max-width: 992px) {
  .job_filter_block {
    position: relative;
    gap: 15px;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .job_filter_block {
    flex-direction: column;
    max-width: 100%;
  }

  .job_filter_block .card.job_filter_card,
  .filter-search-form-2 .filter-inputs .form-group {
    max-width: 100%;
  }

  .filter-search-form-2 .filter-inputs .form-group {
    width: 100%;
  }

  .job_search_main_form {
    padding: 10px !important;
    border-radius: 10px;
  }
}

/* Job Box */
.job_box {
  max-width: 1024px;
}

.row.job_header {
  justify-content: space-between;
}

.company_box {
  max-width: 85%;
}

.company_box .company_logo {
  max-height: 50px;
  margin-right: 10px;
  max-width: 150px;
}

span.job_swap_label {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 12px;
  font-weight: 600;
  background: #00b074;
  padding: 3px 5px 3px 10px;
  border-radius: 0 0.5rem 0 0.5rem;
  color: #fff;
}

@media (min-width: 768px) {}

/* CATEGORY BOX */
.category_box a {
  position: relative;
}

.category_box .category_text_box p {
  position: absolute;
  top: 50px;
  right: 20px;
  text-transform: lowercase;
  margin: 0;
  max-width: 80px;
  line-height: 1;
  text-align: right;
  font-size: 12px;
}

.category_box .category_text_box p span {
  font-size: 40px;
}

/* ALL FORM INPUT */
.form-group, .form_control  {
  position: relative;
  padding: 0 15px !important;
}

.form-group label, .form_control  .input_label {
  font-weight: 500;
  font-size: 12px;
  margin: 0;
  position: absolute;
  top: -7px;
  z-index: 1;
  left: 26px;
  background: #fff;
  padding: 0 5px;
}
.form_control  .input_label{
  background: transparent;
  top: -17px;
  left: 15px;
  text-transform: capitalize!important;
}
input:-internal-autofill-selected {
  background-color: #fff !important;
}
input[type="file" i].form-control {
  padding: 6px;
}
/* PROFILE PAGE */
.personal_info_box {
  gap: 10px 5px;
}

label.image_upload_btn {
  position: absolute;
  bottom: -10px;
  left: 40px;
  background: #ccc;
  width: 24px;
  height: 24px;
  border-radius: 20px;
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  cursor: pointer;
}

/* CKEDITOR */
.cke_chrome {
  border: none !important;
}

/* LOGIN MODAL */
.login-modal-main .dark-mode-texts {
  background-image: url(http://localhost:3000/image/favicon.png);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
}
/* Add opactiy in dropdown */
@media (max-width: 992px) {
.custom-opacity{
    opacity: 1 !important;
  }
}

.response_filters .form-control {
  height: 2rem;
  padding: 5px 10px;
  font-size: 12px;
}
.response_filters .input_label{
  font-size: 12px;
}

/* DASHBOARD */
.dashboard_card{
  overflow: hidden;
  min-height: 100%;
}
.dashboard_card .dashboard_select{
  padding: 0 5px;
}
.dashboard_card .datatable_div {
  box-shadow: none;
  border-radius: 0!important;
}

/* EMPLOYEE TABLE */
.d-flex.profile_box {
  gap: 7px;
  align-items: center;
}